<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body id="page-top">

    <!-- pre loader -->
    {{>pre_loader}}

    <!-- Header -->
    {{>header}}

    <!-- Mannu Section -->
    <img src="img/mannu.jpg" class="manish img-fluid" alt="mannu">
    <div class="container-fluid">
        <h1 class="about_me mx-3">About Me</h1>
        <p class="about_me_p my-3 mx-3">
            I’ve been working as a professional portrait sketch artist all my adult life.
        </p>
        <hr>
    </div>

    <div class="container-fluid">
        <p class="about_me_p about_me_ps my-3 mx-3">
            My name is Manish Magar, and I have been a professional fine artist since 2020. On this website you can take a look at my latest works or order a sketch for yourself or your family.
        </p>
        <hr>
    </div>

    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">My Best Sketch</h2>
                    <p class="text-white-50">
                        In my portfolio, there are hundreds of successful paintings made for dozens of satisfied customers. All clients I’ve been working with were more than happy with my works. Check out the gallery to learn more about my skills and style.
                    </p>
                </div>
            </div>
            <img class="img-fluid sketch-1" src="img/sketch1.jpg" alt="dff" />
        </div>

        <!-- photos -->
        <div class="slider my-2">
            <div class="slides">
                <div class="slide_slide">
                    <div class="slide-data">
                    </div>
                </div>
                <div class="slide_slide">
                    <div class="slide-data">
                    </div>
                </div>
                <div class="slide_slide">
                    <div class="slide-data">
                    </div>
                </div>
            </div>

            <button class="arrows prev" onclick="plusslide(-1)">
                <span><i class="fas fa-angle-left"></i></span>
            </button>
            <button class="arrows next" onclick="plusslide(1)">
                <span><i class="fas fa-angle-right"></i></span>
            </button>

            <div class="dots">
                <span onclick="currentslide(1)"></span>
                <span onclick="currentslide(2)"></span>
                <span onclick="currentslide(3)"></span>
            </div>
        </div>
    </section>

    <!-- social links -->
    {{>social}}

    <!-- footer section -->
    {{>footer}}

    <!-- javascript files -->
    {{>js}}

</body>
</html>