<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body id="page-top">

    <!-- Header -->
    {{>header}}

    <!-- Mannu Section -->
    <img src="img/mannu.jpg" class="manish img-fluid" alt="mannu">
    {{>fluid}}

    <div class="container-fluid">
        <p class="about_me_p about_me_ps my-3 mx-3">
            My name is Manish Magar, and I have been a professional fine artist since 2020. On this website you can take a look at my latest works or order a sketch for yourself or your family.
        </p>
        <hr>
    </div>

    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">My Best Paintings</h2>
                    <p class="text-white-50">
                        In my portfolio, there are hundreds of successful paintings made for dozens of satisfied customers. All clients I’ve been working with were more than happy with my works. Check out the gallery to learn more about my skills and style.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="img/mannu.jpg" alt="dff" />
        </div>

        <!-- photos -->
        {{>photos}}
    </section>

    <!-- social links -->
    {{>social}}

    <!-- footer section -->
    {{>footer}}

    <!-- javascript files -->
    {{>js}}

</body>
</html>