<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body id="page-top">

    <!-- Header -->
    {{>header}}

    <!-- slides -->
    {{>slide}}

    <!-- Mannu Section -->
    <img src="img/mannu.jpg" class="manish img-fluid" alt="mannu">
    {{>fluid}}

    <div class="container-fluid">
        <p class="about_me_p about_me_ps my-3 mx-3">
            My name is Manish Magar, and I have been a professional fine artist since 2020. On this website you can take a look at my latest works or order a sketch for yourself or your family.
        </p>
        <button class="btn read_more_btn" id="read_more_btn">Read More</button>
        <hr>
    </div>
    
    <!-- certificate -->
    <img class="certificate my-2 mx-auto" src="img/crt.jpg" alt="certificate" />
    
    <!-- gallery -->
    {{>gallery}}
    
    <!-- booking -->
    <h1 class="about_me mx-4 my-3">Book Your <br> Portrait Now. </h1>
    <p class="about_me_ps mx-4 my-3">To order a portrait, please share as many details about the desired painting as possible including its style, pose, etc. I will be giving you my feedback soon after I receive your message!</p>
    <hr>
    
    <!-- social links -->
    {{>social}}

    <!-- footer section -->
    {{>footer}}

    <!-- javascript files -->
    {{>js}}

</body>
</html>