<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body id="page-top">

    <!-- Header -->
    {{>header}}
    
    <!-- slides -->
    {{>slide}}
    
    <h1 class="hello">Hello World!</h1>

    <!-- footer section -->
    {{>footer}}

    <!-- javascript files -->
    {{>js}}

</body>
</html>