<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body id="page-top">

    <!-- Header -->
    {{>header}}

    <!-- slides -->
    {{>slide}}

    <!-- Mannu Section -->
    <img src="img/mannu.jpg" class="manish img-fluid" alt="mannu">
    {{>fluid}}

    <!-- footer section -->
    {{>footer}}

    <!-- javascript files -->
    {{>js}}

</body>
</html>