<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body id="page-top">

    <!-- pre loader -->
    {{>pre_loader}}

    <!-- Header -->
    {{>header}}

    <!-- slides -->
    {{>slide}}

    <!-- Mannu Section -->
    <img data-scroll src="img/mannu.jpg" class="manish img-fluid" alt="mannu">

    <div class="container-fluid">
        <p class="about_me_p about_me_ps my-3 mx-3">
            My name is Manish Magar, and I have been a professional fine artist since 2020. On this website you can take a look at my latest works or order a sketch for yourself or your family.
        </p>
        <button class="btn read_more_btn" id="read_more_btn">Read More</button>
        <hr>
    </div>

    <!-- certificate -->
    <img data-scroll class="certificate my-2 mx-auto" src="img/crt.jpg" alt="certificate" />

    <!-- gallery -->
    <div class="gallery container-fluid">
        <figure class="figure" >
            <img data-scroll src="img/sketch.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #1</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch1.jpg" class="gallery_img figure-img img-fluid rounded mx-auto sketch-1" alt="...">
            <figcaption class="figure-caption">Sketch #2</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch2.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #3</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch3.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #4</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch4.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #5</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch5.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #6</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch6.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #7</figcaption>
        </figure>
        <figure class="figure" >
            <img data-scroll src="img/sketch7.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
            <figcaption class="figure-caption">Sketch #8</figcaption>
        </figure>
    </div>

    <!-- booking -->
    <h1 class="about_me mx-4 my-3">Book Your <br> Portrait Now. </h1>
    <p class="about_me_ps mx-4 my-3">
        To order a portrait, please share as many details about the desired painting as possible including its style, pose, etc. I will be giving you my feedback soon after I receive your message!
    </p>
    <hr>

    <!-- contact me form -->
    <h1 class="about_me mx-4 my-2">Contact Me</h1>
    <form class="container mx-auto my-3" action="/" method="post" id="form" accept-charset="utf-8">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="name" name="name" class="form-control" id="username" id="exampleFormControlInput1" placeholder="what`s your name ..?" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" id="exampleFormControlInput1" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea name="message" class="form-control" id="message" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
        <!-- submit button -->
        <button class="btn read_more_btn" id="alert-button" id="submit_btn" type="submit">Send</button>
    </form>

    <!-- social links -->
    {{>social}}

    <!-- footer section -->
    {{>footer}}

    <!-- javascript files -->
    {{>js}}

</body>
</html>