<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50" id="footer">
    <div class="container">
        @ Mannu Website 2021
        <br>
        Developed And Mantaned By
        <br>
        Dev_Aman
    </div>
</footer>