<div class="gallery container-fluid">
    <figure class="figure">
        <img src="img/mannu.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
    <figure class="figure">
        <img src="img/mannu.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
    <figure class="figure">
        <img src="img/mannu.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
    <figure class="figure">
        <img src="img/mannu.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
    <figure class="figure">
        <img src="img/mannu.jpg" class="gallery_img figure-img img-fluid rounded mx-auto" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
</div>