<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://instagram.com/magarmm112?igshid=5zfhl96c25e2"><i class="fab fa-instagram"></i></a>
            <a class="mx-2" href="https://www.facebook.com/manish.magar.583671"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</section>